In [1]:
# Importing packages
import pandas as pd

In [2]:
# Importing Data
education = pd.read_csv("education.csv")
vaccine = pd.read_csv("vaccinesbycounty.csv")
income = pd.read_csv("MedianIncomeByCounty.csv")
demVsrep = pd.read_csv("democratic_vs_republican_votes_by_usa_state_2020.csv")

In [3]:
# ViewData
education

,"Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2020",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,"Sources: U.S. Census Bureau, 1970, 1980, 1990,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"For definitions of rural classifications, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"This table was prepared by USDA, Economic Rese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Federal Information Processing Standards (FIPS...,State,Area name,2003 Rural-Uban Continuum Code,2003 Urban Influence Code,2013 Rural-Urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...,"Less than a high school diploma, 2016-20","High school diploma only, 2016-20","Some college or associate's degree, 2016-20","Bachelor's degree or higher, 2016-20",Percent of adults with less than a high school...,Percent of adults with a high school diploma o...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...
4,00000,US,United States,NaN,NaN,NaN,NaN,"52,373,312","34,158,051","11,650,730",...,7.6,28.2,"25,562,680","59,421,420","64,496,416","73,356,320",11.5,26.7,28.9,32.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3284,72145,PR,Vega Baja Municipio,1,1,1,1,NaN,NaN,NaN,...,10.8,17.4,"9,683","10,459","8,550","7,948",26.4,28.5,23.3,21.7
3285,72147,PR,Vieques Municipio,7,12,7,12,NaN,NaN,NaN,...,6.1,13.7,"1,755","2,726",735,782,29.3,45.4,12.3,13.0
3286,72149,PR,Villalba Municipio,2,2,2,2,NaN,NaN,NaN,...,8.5,14.2,"3,240","5,624","3,210","2,970",21.5,37.4,21.3,19.7
3287,72151,PR,Yabucoa Municipio,1,1,1,1,NaN,NaN,NaN,...,7.7,13.8,"6,678","6,140","6,728","4,186",28.1,25.9,28.3,17.6
3288,72153,PR,Yauco Municipio,3,2,2,2,NaN,NaN,NaN,...,6.2,16.3,"6,126","8,760","4,221","6,156",24.2,34.7,16.7,24.4

In [4]:

education = education.iloc[3:]
ed = education.reset_index()
ed.drop(columns = ['index'])
ed.rename(columns=ed.iloc[0], inplace = True)
ed = ed.drop(3, axis = 1)
ed = ed.dropna()
ed = ed.drop(0)
ed =ed.reset_index(drop =True)
ed

,Federal Information Processing Standards (FIPS) Code,State,Area name,2003 Rural-Uban Continuum Code,2003 Urban Influence Code,2013 Rural-Urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2007-11",Percent of adults with a bachelor's degree or higher 2007-11,"Less than a high school diploma, 2016-20","High school diploma only, 2016-20","Some college or associate's degree, 2016-20","Bachelor's degree or higher, 2016-20","Percent of adults with less than a high school diploma, 2016-20","Percent of adults with a high school diploma only, 2016-20","Percent of adults completing some college or associate's degree, 2016-20",Percent of adults with a bachelor's degree or higher 2016-20
0,01001,AL,Autauga County,2,2,2,2,"6,611","3,757",933,...,7.6,21.6,"4,273","11,880","10,986","10,721",11.3,31.4,29.0,28.3
1,01003,AL,Baldwin County,4,5,3,2,"18,726","8,426","2,334",...,7.9,27.2,"14,823","42,272","48,832","49,636",9.5,27.2,31.4,31.9
2,01005,AL,Barbour County,6,6,6,6,"8,120","2,242",581,...,6.6,13.9,"4,497","6,361","4,872","2,067",25.3,35.7,27.4,11.6
3,01007,AL,Bibb County,1,1,1,1,"5,272","1,402",238,...,6.8,9.8,"3,056","7,206","3,911","1,814",19.1,45.1,24.5,11.3
4,01009,AL,Blount County,1,1,1,1,"10,677","3,440",626,...,6.5,11.3,"6,838","13,975","13,725","5,276",17.2,35.1,34.5,13.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,56037,WY,Sweetwater County,5,8,5,8,"4,393","3,731",986,...,10.8,17.0,"2,098","9,115","11,034","5,989",7.4,32.3,39.1,21.2
3120,56039,WY,Teton County,7,8,7,8,708,908,524,...,3.5,52.7,945,"2,778","4,270","9,789",5.3,15.6,24.0,55.1
3121,56041,WY,Uinta County,7,8,7,8,"1,569","1,517",445,...,8.8,18.4,903,"4,931","4,758","2,501",6.9,37.7,36.3,19.1
3122,56043,WY,Washakie County,7,11,7,11,"1,572","1,437",590,...,9.1,22.6,441,"1,587","2,174","1,313",8.0,28.8,39.4,23.8
3123,56045,WY,Weston County,7,9,7,9,"1,428","1,247",398,...,5.9,18.4,329,"1,882","1,874",848,6.7,38.2,38.0,17.2

In [5]:
vaccine

,FIPS,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes
0,5075,Lawrence County,AR,42.3,6938
1,1053,Escambia County,AL,33.1,12112
2,19171,Tama County,IA,58.0,9777
3,6043,Mariposa County,CA,0.0,0
4,19097,Jackson County,IA,49.2,9568
...,...,...,...,...,...
3277,48023,Baylor County,TX,38.7,1358
3278,27083,Lyon County,MN,51.9,13229
3279,30015,Chouteau County,MT,29.0,1635
3280,45003,Aiken County,SC,42.8,73134
3281,55087,Outagamie County,WI,58.2,109273

In [6]:
vaccine = vaccine[vaccine["FIPS"].str.contains("unk")==False]
vaccine = vaccine[vaccine['Recip_State'].str.contains('PR') == False]
vaccine = vaccine[vaccine['Series_Complete_Yes'] != 0]
vaccine['Pop'] = vaccine['Series_Complete_Yes']*100/vaccine['Series_Complete_Pop_Pct']
vaccine = vaccine.reset_index(drop = True)
vaccine

#need to create new table where vaccine percentage by state b/c voting is by state use GroupBy

,FIPS,Recip_County,Recip_State,Series_Complete_Pop_Pct,Series_Complete_Yes,Pop
0,5075,Lawrence County,AR,42.3,6938,16401.891253
1,1053,Escambia County,AL,33.1,12112,36592.145015
2,19171,Tama County,IA,58.0,9777,16856.896552
3,19097,Jackson County,IA,49.2,9568,19447.154472
4,21009,Barren County,KY,41.5,18351,44219.277108
...,...,...,...,...,...,...
3183,48023,Baylor County,TX,38.7,1358,3509.043928
3184,27083,Lyon County,MN,51.9,13229,25489.402697
3185,30015,Chouteau County,MT,29.0,1635,5637.931034
3186,45003,Aiken County,SC,42.8,73134,170873.831776
3187,55087,Outagamie County,WI,58.2,109273,187754.295533

In [7]:
demVsrep

,state,DEM,REP,usa_state,usa_state_code,percent_democrat
0,Alabama,843473,1434159,Alabama,AL,37.032892
1,Alaska,45758,80999,Alaska,AK,36.098993
2,Arizona,1643664,1626679,Arizona,AZ,50.259682
3,Arkansas,420985,761251,Arkansas,AR,35.609218
4,California,9315259,4812735,California,CA,65.934760
5,Colorado,1753416,1335253,Colorado,CO,56.769307
6,Connecticut,1059252,699079,Connecticut,CT,60.241900
7,Delaware,295413,199857,Delaware,DE,59.646859
8,District of Columbia,258561,14449,District of Columbia,DC,94.707520
9,Florida,5294767,5667834,Florida,FL,48.298456
10,Georgia,2465783,2455431,Georgia,GA,50.105177
11,Hawaii,365802,196602,Hawaii,HI,65.042567
12,Idaho,286991,554019,Idaho,ID,34.124565
13,Illinois,3675573,2669999,Illinois,IL,57.923431
14,Indiana,1239529,1727085,Indiana,IN,41.782618
15,Iowa,757700,896102,Iowa,IA,45.815642
16,Kansas,551199,753370,Kansas,KS,42.251426
17,Kentucky,778214,1343148,Kentucky,KY,36.684639
18,Louisiana,855630,1255528,Louisiana,LA,40.528942
19,Maine,419309,340512,Maine,ME,55.185234
20,Maryland,1590324,861861,Maryland,MD,64.853345
21,Massachusetts,2254168,1121176,Massachusetts,MA,66.783356
22,Michigan,2794853,2646956,Michigan,MI,51.358896
23,Minnesota,1717991,1485677,Minnesota,MN,53.625750
24,Mississippi,447162,683527,Mississippi,MS,39.547745
25,Missouri,1242851,1711848,Missouri,MO,42.063540
26,Montana,243714,341763,Montana,MT,41.626571
27,Nebraska,367931,550232,Nebraska,NE,40.072514
28,Nevada,664162,629879,Nevada,NV,51.324649
29,New Hampshire,422284,365248,New Hampshire,NH,53.621186
30,New Jersey,2108110,1449928,New Jersey,NJ,59.249227
31,New Mexico,498022,400920,New Mexico,NM,55.400905
32,New York,3699332,2850352,New York,NY,56.481076
33,North Carolina,2658280,2733687,North Carolina,NC,49.300747
34,North Dakota,114687,234962,North Dakota,ND,32.800609
35,Ohio,2611377,3071959,Ohio,OH,45.947961
36,Oklahoma,503890,1020280,Oklahoma,OK,33.059961
37,Oregon,1318475,942737,Oregon,OR,58.308332
38,Pennsylvania,3361668,3315998,Pennsylvania,PA,50.341961
39,Rhode Island,300325,197421,Rhode Island,RI,60.336999
40,South Carolina,1092518,1386207,South Carolina,SC,44.075805
41,South Dakota,150475,261108,South Dakota,SD,36.560062
42,Tennessee,1139364,1849791,Tennessee,TN,38.116591
43,Texas,5216321,5872348,Texas,TX,47.041904
44,Utah,489465,759583,Utah,UT,39.187045
45,Vermont,227231,111131,Vermont,VT,67.156182
46,Virginia,2392751,1961783,Virginia,VA,54.948497
47,Washington,2303430,1514563,Washington,WA,60.330912
48,West Virginia,232502,539610,West Virginia,WV,30.112471
49,Wisconsin,1630569,1610030,Wisconsin,WI,50.316901
50,Wyoming,73445,193454,Wyoming,WY,27.517900

In [8]:
income = income[['FIPS_code','State','Area_name','Median_Household_Income_2020','Unemployment_rate_2021']]
income = income[income['Area_name'].str.contains(",") == True]
income = income[income['State'] != "PR"]
income = income.reset_index(drop =True)
income

,FIPS_code,State,Area_name,Median_Household_Income_2020,Unemployment_rate_2021
0,1001,AL,"Autauga County, AL","67,565",2.8
1,1003,AL,"Baldwin County, AL","71,135",3.0
2,1005,AL,"Barbour County, AL","38,866",5.7
3,1007,AL,"Bibb County, AL","50,907",3.5
4,1009,AL,"Blount County, AL","55,203",2.4
...,...,...,...,...,...
3140,56037,WY,"Sweetwater County, WY","70,583",5.6
3141,56039,WY,"Teton County, WY","92,488",3.2
3142,56041,WY,"Uinta County, WY","71,246",5.0
3143,56043,WY,"Washakie County, WY","58,532",4.0
3144,56045,WY,"Weston County, WY","58,901",3.2