In [1]:
# Importing packages
import pandas as pd

In [2]:
# Importing Data
education = pd.read_csv("education.csv")
vaccine = pd.read_csv("COVID-19_Vaccinations_in_the_United_States_County.csv")
unemploymentReport = pd.read_csv("Unemployment_report - Sheet1.csv")
demVsrep = pd.read_csv("democratic_vs_republican_votes_by_usa_state_2020.csv")

In [3]:
# ViewData
education

,"Educational attainment for adults age 25 and older for the U.S., States, and counties, 1970-2020",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,"Sources: U.S. Census Bureau, 1970, 1980, 1990,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"For definitions of rural classifications, see ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"This table was prepared by USDA, Economic Rese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Federal Information Processing Standards (FIPS...,State,Area name,2003 Rural-Uban Continuum Code,2003 Urban Influence Code,2013 Rural-Urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...,"Less than a high school diploma, 2016-20","High school diploma only, 2016-20","Some college or associate's degree, 2016-20","Bachelor's degree or higher, 2016-20",Percent of adults with less than a high school...,Percent of adults with a high school diploma o...,Percent of adults completing some college or a...,Percent of adults with a bachelor's degree or ...
4,00000,US,United States,NaN,NaN,NaN,NaN,"52,373,312","34,158,051","11,650,730",...,7.6,28.2,"25,562,680","59,421,420","64,496,416","73,356,320",11.5,26.7,28.9,32.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3284,72145,PR,Vega Baja Municipio,1,1,1,1,NaN,NaN,NaN,...,10.8,17.4,"9,683","10,459","8,550","7,948",26.4,28.5,23.3,21.7
3285,72147,PR,Vieques Municipio,7,12,7,12,NaN,NaN,NaN,...,6.1,13.7,"1,755","2,726",735,782,29.3,45.4,12.3,13.0
3286,72149,PR,Villalba Municipio,2,2,2,2,NaN,NaN,NaN,...,8.5,14.2,"3,240","5,624","3,210","2,970",21.5,37.4,21.3,19.7
3287,72151,PR,Yabucoa Municipio,1,1,1,1,NaN,NaN,NaN,...,7.7,13.8,"6,678","6,140","6,728","4,186",28.1,25.9,28.3,17.6
3288,72153,PR,Yauco Municipio,3,2,2,2,NaN,NaN,NaN,...,6.2,16.3,"6,126","8,760","4,221","6,156",24.2,34.7,16.7,24.4

In [4]:

education = education.iloc[3:]
ed = education.reset_index()
ed.drop(columns = ['index'])
ed.rename(columns=ed.iloc[0], inplace = True)
ed = ed.drop(3, axis = 1)
ed = ed.dropna()
ed = ed.drop(0)
ed =ed.reset_index(drop =True)
ed

,Federal Information Processing Standards (FIPS) Code,State,Area name,2003 Rural-Uban Continuum Code,2003 Urban Influence Code,2013 Rural-Urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2007-11",Percent of adults with a bachelor's degree or higher 2007-11,"Less than a high school diploma, 2016-20","High school diploma only, 2016-20","Some college or associate's degree, 2016-20","Bachelor's degree or higher, 2016-20","Percent of adults with less than a high school diploma, 2016-20","Percent of adults with a high school diploma only, 2016-20","Percent of adults completing some college or associate's degree, 2016-20",Percent of adults with a bachelor's degree or higher 2016-20
0,01001,AL,Autauga County,2,2,2,2,"6,611","3,757",933,...,7.6,21.6,"4,273","11,880","10,986","10,721",11.3,31.4,29.0,28.3
1,01003,AL,Baldwin County,4,5,3,2,"18,726","8,426","2,334",...,7.9,27.2,"14,823","42,272","48,832","49,636",9.5,27.2,31.4,31.9
2,01005,AL,Barbour County,6,6,6,6,"8,120","2,242",581,...,6.6,13.9,"4,497","6,361","4,872","2,067",25.3,35.7,27.4,11.6
3,01007,AL,Bibb County,1,1,1,1,"5,272","1,402",238,...,6.8,9.8,"3,056","7,206","3,911","1,814",19.1,45.1,24.5,11.3
4,01009,AL,Blount County,1,1,1,1,"10,677","3,440",626,...,6.5,11.3,"6,838","13,975","13,725","5,276",17.2,35.1,34.5,13.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3119,56037,WY,Sweetwater County,5,8,5,8,"4,393","3,731",986,...,10.8,17.0,"2,098","9,115","11,034","5,989",7.4,32.3,39.1,21.2
3120,56039,WY,Teton County,7,8,7,8,708,908,524,...,3.5,52.7,945,"2,778","4,270","9,789",5.3,15.6,24.0,55.1
3121,56041,WY,Uinta County,7,8,7,8,"1,569","1,517",445,...,8.8,18.4,903,"4,931","4,758","2,501",6.9,37.7,36.3,19.1
3122,56043,WY,Washakie County,7,11,7,11,"1,572","1,437",590,...,9.1,22.6,441,"1,587","2,174","1,313",8.0,28.8,39.4,23.8
3123,56045,WY,Weston County,7,9,7,9,"1,428","1,247",398,...,5.9,18.4,329,"1,882","1,874",848,6.7,38.2,38.0,17.2

In [5]:
vaccine

       FIPS      Recip_County Recip_State  Series_Complete_Pop_Pct
0      5075   Lawrence County          AR                     42.3
1      1053   Escambia County          AL                     33.1
2     19171       Tama County          IA                     58.0
3      6043   Mariposa County          CA                      0.0
4     19097    Jackson County          IA                     49.2
...     ...               ...         ...                      ...
3278  27083       Lyon County          MN                     51.9
3279  30015   Chouteau County          MT                     29.0
3280  45003      Aiken County          SC                     42.8
3281  55087  Outagamie County          WI                     58.2
3282  39169      Wayne County          OH                     41.3

[3283 rows x 4 columns]

In [8]:
vaccine = vaccine[vaccine["FIPS"].str.contains("unk")==False]
vaccine = vaccine[vaccine['Recip_State'].str.contains('PR') == False]
vaccine

       FIPS      Recip_County Recip_State  Series_Complete_Pop_Pct
0      5075   Lawrence County          AR                     42.3
1      1053   Escambia County          AL                     33.1
2     19171       Tama County          IA                     58.0
3      6043   Mariposa County          CA                      0.0
4     19097    Jackson County          IA                     49.2
...     ...               ...         ...                      ...
3278  27083       Lyon County          MN                     51.9
3279  30015   Chouteau County          MT                     29.0
3280  45003      Aiken County          SC                     42.8
3281  55087  Outagamie County          WI                     58.2
3282  39169      Wayne County          OH                     41.3

[3204 rows x 4 columns]

,FIPS,Name,2013,2014,2015,2016,2017,2018,2019,2020,2021,Median Household Income (2020)
0,1000,Alabama,7.3,6.7,6.1,5.9,4.5,3.9,3.2,6.5,3.4,"$53,958"
1,2000,Alaska,7.0,6.7,6.3,6.6,6.5,6.0,5.5,8.2,6.4,"$79,961"
2,4000,Arizona,7.8,6.8,6.1,5.5,5.0,4.8,4.9,7.7,4.9,"$64,652"
3,5000,Arkansas,7.1,5.9,5.0,4.0,3.7,3.6,3.5,6.1,4.0,"$51,146"
4,6000,California,9.0,7.6,6.3,5.5,4.8,4.3,4.1,10.2,7.3,"$83,001"
5,8000,Colorado,6.7,5.0,3.7,3.1,2.6,3.0,2.6,6.9,5.4,"$77,688"
6,9000,Connecticut,8.0,6.6,5.6,4.8,4.4,3.9,3.5,7.8,6.3,"$79,723"
7,10000,Delaware,6.6,5.6,4.8,4.5,4.5,3.8,3.7,7.6,5.3,"$71,335"
8,11000,District of Columbia,8.4,7.7,6.9,6.2,6.1,5.6,5.4,8.0,6.6,"$91,957"
9,12000,Florida,7.5,6.4,5.5,4.9,4.3,3.7,3.2,8.2,4.6,"$61,724"
10,13000,Georgia,8.1,7.1,6.1,5.4,4.8,4.0,3.6,6.5,3.9,"$62,800"
11,15000,Hawaii,4.8,4.2,3.4,2.9,2.2,2.4,2.5,12.0,5.7,"$86,878"
12,16000,Idaho,6.8,4.4,3.9,3.7,3.2,2.9,3.0,5.5,3.6,"$62,603"
13,17000,Illinois,9.1,7.2,6.0,5.9,4.9,4.4,4.0,9.2,6.1,"$71,243"
14,18000,Indiana,7.5,5.9,4.8,4.4,3.5,3.4,3.3,7.2,3.6,"$60,794"
15,19000,Iowa,4.7,4.2,3.7,3.6,3.1,2.5,2.6,5.1,4.2,"$62,362"
16,20000,Kansas,5.3,4.5,4.2,4.0,3.6,3.3,3.1,5.7,3.2,"$63,214"
17,21000,Kentucky,7.9,6.4,5.2,5.0,4.8,4.2,4.1,6.4,4.7,"$54,074"
18,22000,Louisiana,6.4,6.3,6.3,6.1,5.1,4.8,4.6,8.7,5.5,"$51,730"
19,23000,Maine,6.7,5.6,4.4,3.8,3.4,3.1,2.8,5.0,4.6,"$59,145"
20,24000,Maryland,6.5,5.7,5.0,4.3,4.0,3.6,3.4,6.7,5.8,"$88,589"
21,25000,Massachusetts,6.6,5.7,4.8,4.0,3.8,3.4,3.1,9.4,5.7,"$87,288"
22,26000,Michigan,8.7,7.2,5.4,5.0,4.6,4.2,4.1,10.0,5.9,"$61,352"
23,27000,Minnesota,5.0,4.3,3.8,3.9,3.5,3.1,3.4,6.3,3.4,"$75,489"
24,28000,Mississippi,8.5,7.6,6.5,5.9,5.2,4.9,5.4,7.9,5.6,"$47,368"
25,29000,Missouri,6.8,6.2,5.1,4.5,3.7,3.2,3.1,6.1,4.4,"$58,812"
26,30000,Montana,5.4,4.7,4.3,4.3,4.1,3.7,3.6,5.8,3.4,"$57,730"
27,31000,Nebraska,3.7,3.3,3.0,3.1,3.0,2.9,3.0,4.1,2.5,"$64,735"
28,32000,Nevada,10.0,8.2,6.8,5.8,5.0,4.4,4.0,13.5,7.2,"$64,608"
29,33000,New Hampshire,5.3,4.3,3.4,2.9,2.8,2.6,2.6,6.7,3.5,"$81,415"
30,34000,New Jersey,8.4,6.7,5.7,4.9,4.5,4.0,3.4,9.5,6.3,"$87,095"
31,35000,New Mexico,6.9,6.6,6.6,6.7,6.1,4.9,4.9,8.1,6.8,"$52,285"
32,36000,New York,7.8,6.3,5.2,4.9,4.6,4.1,3.8,9.9,6.9,"$73,354"
33,37000,North Carolina,7.8,6.1,5.7,5.1,4.5,4.0,3.8,7.1,4.8,"$59,616"
34,38000,North Dakota,2.9,2.6,2.8,3.1,2.6,2.4,2.1,5.1,3.7,"$64,289"
35,39000,Ohio,7.5,5.8,5.0,5.0,5.0,4.5,4.2,8.2,5.1,"$60,360"
36,40000,Oklahoma,5.1,4.3,4.3,4.6,4.0,3.3,3.1,6.2,3.8,"$54,512"
37,41000,Oregon,7.8,6.7,5.5,4.7,4.1,4.0,3.7,7.6,5.2,"$67,832"
38,42000,Pennsylvania,7.1,5.9,5.4,5.3,5.0,4.5,4.5,9.1,6.3,"$64,898"
39,44000,Rhode Island,9.5,7.8,6.0,5.2,4.5,4.1,3.6,9.2,5.6,"$73,919"
40,45000,South Carolina,7.4,6.3,5.9,4.9,4.2,3.4,2.8,6.0,4.0,"$57,216"
41,46000,South Dakota,3.7,3.3,3.0,3.0,3.1,2.8,2.8,4.3,3.1,"$61,149"
42,47000,Tennessee,7.8,6.6,5.6,4.7,3.7,3.5,3.4,7.4,4.3,"$56,962"
43,48000,Texas,6.3,5.2,4.5,4.6,4.3,3.9,3.5,7.7,5.7,"$66,048"
44,49000,Utah,4.2,3.6,3.5,3.3,3.1,2.9,2.6,4.7,2.7,"$77,785"
45,50000,Vermont,4.4,4.0,3.5,3.1,3.0,2.6,2.3,5.6,3.4,"$67,717"
46,51000,Virginia,5.6,5.1,4.4,4.0,3.7,3.0,2.8,6.2,3.9,"$79,154"
47,53000,Washington,6.6,5.9,5.4,5.2,4.6,4.4,4.3,8.5,5.2,"$80,319"
48,54000,West Virginia,6.7,6.5,6.6,6.1,5.2,5.2,4.9,8.2,5.0,"$49,202"
49,55000,Wisconsin,6.7,5.3,4.4,3.9,3.3,3.0,3.2,6.3,3.8,"$64,901"
50,56000,Wyoming,4.8,4.3,4.2,5.4,4.3,4.1,3.7,5.8,4.5,"$67,284"
51,72000,Puerto Rico,14.3,13.9,12.0,11.8,10.8,9.2,8.3,NaN,7.9,NaN